$primary-color: white;
$bg: black;

*:hover,
*:focus{
  outline: unset;
}

header{
  background-color: #0b102e;
  color: $primary-color;
  padding: 20px 0;
}

input{
  width: 100%;
}

thead{
  white-space: nowrap;
}

th:hover{
  cursor: pointer;
}